	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	
	{% block content %}

			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Commentaires</h2>
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading"> Laissez-nous vos commentaires! </h3>
					<p class="sample-text">
						Vous avez des commentaires, suggestions à faire à propos du site web, de la bibliothèque ou des questions sur quoi que ça soit? Laissez-nous vos commentaires ci-dessous, nous vous répondrons <b>volontiers</b> ! 
					</p>
				</div>
			</section>
			<!-- End Sample Area -->
			<!-- Start Button -->
			</section>
			<!-- End Button -->
			<!-- Start Align Area -->
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<form method="post" action="{{ url_for('formulaire') }}">
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="Prénom" required class="single-input">
									</div>
									<div class="mt-10">
										<input type="text" name="last_name" placeholder="Nom" required class="single-input">
									</div>
									<!--
									<div class="mt-10">
										<input type="text" name="promo" placeholder="Promo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Promo'" required class="single-input">
									</div>
									-->
									<div class="mt-10">
										<input type="email" name="email" placeholder="Adresse E-Mail" required class="single-input">
									</div>
													
									<div class="mt-10">
										<textarea class="single-textarea" name='message' placeholder="Message" required></textarea>
									</div>
									<div class="button-group-area mt-40">
										<button class="genric-btn primary e-large" name="btn_submit" value="form_comment"> Envoyer </button>
									</div>
								</form>
							<br>
							</div>
					</div>
			</div>
			<!-- End Align Area -->
		{% endblock %}
	</html>