<!DOCTYPE html>
<html>
<head>
<title>CV Antoine Leclercq</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV d'Antoine Leclercq"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../static/css/style_cv.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/t3.jpg" alt="Antoine Leclercq" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Antoine Leclerq</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i style="font-size:24px" class="fa">&#xf1fa;</i><a href="mailto:antoine.leclerq27@gmail.com " target="_blank">&nbsp;antoine.leclerq27@gmail.com </a></li>
				<li> <i style="font-size:24px" class="fa">&#xf015;</i>&nbsp;7 avenue Edouard Belin, 31400 Toulouse</li>
				<li> <i style="font-size:24px" class="fa"> &#xf10b; </i> &nbsp; 0750801160</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Formation</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2> Cursus IENAC </h2>
					<p class="subDetails"> 2018     </p>
					<p> Première année, ENAC, Toulouse</p>
				</article>
				
				<article>
					<h2> Classe préparatoire aux grandes écoles - ﬁlière Physique Chimie</h2>
					<p class="subDetails">2016-2018  </p>
					<p> Lycée Sainte Geneviève, Versailles. </p>
				</article>
				<article>
					<h2>2016 </h2>
					<p class="subDetails">Baccalauréat général scientiﬁque option mathématique(mention très bien) </p>
					<p>lycée Sainte Famille, Amiens </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

				<section>
			<div class="sectionTitle">
				<h1>Expérience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2> Intérimaire, <i>ManPower ,</i> Ham </h2>
					<p class="subDetails"> Août 2016    </p>
					<p> Manutention, nettoyage de machines à <i>Bonduelle, Estrées-Mons.</i>
					<br>Changement de ﬁltres de cheminées industrielles et nettoyage d’entrepôt à KOGEBAN, Nesle.</p>
				</article>				
				<article>
					<h2> Stagiaire, <i> Lycée Condorcet ,</i> Saint-Quentin</h2>
					<p class="subDetails"> Juin 2014 </p>
					<p>  Stage de seconde, au sein de l’équipe de maintenance informatique.</p>
				</article>
				<article>
					<h2>Stagiaire, <i> Logiform,</i> Ham </h2>
					<p class="subDetails"> Juin 2013 </p>
					<p>  Stage de 3e, dépannage d’ordinateurs. </p>
				</article>
				<article>
					<h2>Stagiaire, <i> Logiform,</i> Ham </h2>
					<p class="subDetails"> Juin 2013 </p>
					<p>  Stage de 3e, dépannage d’ordinateurs. </p>
				</article>
				<article>
					<h2>Stages linguistiques </h2>
					<p> Angleterre (Juillet 2017 – Juillet 2015)
					<br> Allemagne (Juillet 2016) </p>
				</article>
				<article>
					<h2>Soutien scolaire dispensé à ses élèves </h2>
					<p> Maths (niveau lycée)
					<br> Général (niveau collège-dans le cadre d'une association à Versailles)</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>	
				
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Anglais (C1)</li>
					<li>Allemand (A2)</li>
					<li>Python</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Activités </h1>
			</div>
			<div class="sectionContent">
				<article>
					<p class="subDetails"> Musique: Instruments pratiqués : saxophone pendant 10 ans, batterie-percussions pendant 7 ans. Engagé dans l’orchestre d’harmonie de Péronne pendant 5 ans et de Ham pendant 8 ans. Engagé dans l’orchestre de l’ENAC (Enacoustique) en tant que percussionniste. </p>
					<br><p class="subDetails">Programmation: Notion de base de C et de Java. Engagé dans le club robotique (CAO, programmation...). </p>
					<br><p class="subDetails">Lecture: Science-fiction</p>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>		
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>