<!DOCTYPE html>
<html>
<head>
<title>CV Clotilde Antona</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../static/style_cv.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/t1.jpg" alt="Clotilde Antona" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Clotilde Antona</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i style="font-size:24px" class="fa">&#xf1fa;</i><a href="mailto:clotilde.antona@sfr.fr " target="_blank">&nbsp;clotilde.antona@sfr.fr </a></li>
				<li> <i style="font-size:24px" class="fa">&#xf015;</i>&nbsp;7 avenue Edouard Belin, 31400 Toulouse</li>
				<li> <i style="font-size:24px" class="fa"> &#xf10b; </i> &nbsp; 0777725438</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Formation</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Septembre 2018</h2>
					<p class="subDetails">Cursus Ingénieur ENAC     </p>
					<p>Ecole Nationale de l’Aviation Civile, 7 avenue Edouard Belin, Toulouse </p>
				</article>
				
				<article>
					<h2>Septembre 2016- Juillet 2018</h2>
					<p class="subDetails">Années de CPGE  PCSI-PC     </p>
					<p>Lycée Lakanal, 3 Avenue du Président Franklin Roosevelt, 92330 Sceaux</p>
				</article>
				
				<article>
					<h2>Septembre 2013 – Juillet 2016 </h2>
					<p class="subDetails">Lycée filière S Option SVT </p>
					<p>Baccalauréat général scientifique mention très bien <br>Institution Sainte Marie d’Antony, 2 rue de l’abbaye, 92160 ANTONY </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	<section>
			<div class="sectionTitle">
				<h1>Diplômes</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li> Goethe Institute (B1) </li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
				<section>
			<div class="sectionTitle">
				<h1>Langues parlées</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Anglais (C1)</li>
					<li>Allemand (B1)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Utilisation de Word, LibreOffice Writer,Pages,Gedit</li>
					<li>Utilisation de Powerpoint</li>
					<li>Utilisatino d'Excel, LibreOffice Calc</li>
					<li>Programmation Python</li>
					<li>Programmation Matlab</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Activités extra-professionnelles </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">Responsable des bénévoles à Airexpo 2019 </p>
					<p class="subDetails">Bénévolat dans l‘organisation des Journées Mondiales de la Jeunesse en Pologne en 2016 </p>
					<p class="subDetails"> 3ème année en tant que cheftaine scoute pour les 8-12 ans</p>
					<p class="subDetails">Handball en compétition depuis un an </p>
					<p class="subDetails">10 ans de gymnastique artistique et rythmique en compétition </p>
					<p class="subDetails">10 ans de scoutisme  </p>
					<p class="subDetails">6 ans de piano, niveau intermédiaire  </p>

			</div>
			<div class="clear"></div>
		</section>
		

		
		
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>