<!DOCTYPE html>
<html>
<head>
<title>Site reservation biblio ENAC-CV Danyl Louli</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV de Danyl Louli"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../static/css/style_cv.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/t4.jpg" alt="Danyl Louli" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo"> Danyl Louli</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i style="font-size:24px" class="fa">&#xf1fa;</i>&nbsp;danyl.louli@outlook.fr  </a></li>
				<li> <i style="font-size:24px" class="fa">&#xf015;</i>&nbsp;7 avenue Edouard Belin, 31400 Toulouse</li>
				<li> <i style="font-size:24px" class="fa"> &#xf10b; </i> &nbsp; 0625257030</li>
				<br>
				<li><i style="font-size:24px " class="fa"> </i><a href="{{ url_for('index') }}"> Retour sur le site </a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Expérience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2> Cursus Ingénieur ENAC</h2>
					<p class="subDetails"> Toulouse — <i>​Membre Partenaires</i> </p>
					<p>Septembre 2018 à Aujourd’hui </p>
				</article>
				
				<article>
					<h2>Liste BDE</h2>
					<p class="subDetails"> Toulouse - <i>Trésorier </i>   </p>
					<p>Septembre 2018 à aujourd'hui</p>
				</article>
				
				<article>
					<h2>CNES et Planète Sciences Sarthe</h2>
					<p class="subDetails"> ​Le Mans - <i>Lâcher d’un ballon sonde stratosphérique et traitement  de données </i> </p>
					<p> Décembre 2018 et Janvier 2019</p>
				</article>
				<article>
					<h2>Atmosphéo</h2>
					<p class="subDetails"> ​Le Mans - <i>Manutention et Ramonage </i> </p>
					<p> Août 2016</p>
				</article>
				<article>
					<h2>MF Prdouction</h2>
					<p class="subDetails"> ​Distré - <i>Agent de conditionnement </i> </p>
					<p> Juillet et Août 2015</p>
				</article>
				<article>
					<h2>Déménageurs Bretons</h2>
					<p class="subDetails"> Saumur - <i>Déménageur </i> </p>
					<p> Août 2016</p>
				</article>
				<article>
					<h2>Culture/E.Leclerc/Carrefour</h2>
					<p class="subDetails"> ​Toulouse - <i>Inventoriste </i> </p>
					<p> Décembre 2018 et Janvier 2019</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Expérience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2> Classe Préparatoire aux grandes écoles d’ingénieur</h2>
					<p class="subDetails"> Le Mans — <i>​Filière Maths/Physique</i> </p>
					<p> De 2015 à 2018 </p>
				</article>
				<article>
					<h2>ENAC, Etudes d'ingénieur en aéronautique</h2>
					<p class="subDetails"> Toulouse</p>
					<p>De 2018 à aujourd'hui</p>
				</article>
				<article>
					<h2>ENAC, formation en sûreté aéroportuaire</h2>
					<p>2018</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	<section>
			<div class="sectionTitle">
				<h1>Diplômes</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li> Goethe Institute (B1) </li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>	
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Travail de groupe</li>
					<li>Dynamisme</li>
					<li>Apprentissage rapide</li>
					<li>Savoir-être</li>
					<li>Programmation WEB</li>
					<li>Compétences en Python, SQL, Qt, Matlab et connaissances en DeepLearning</li>
					<li>Pack Office</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>	
				<section>
			<div class="sectionTitle">
				<h1>Associatif et Hobbies</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Organisateur TRACE 2019 - Partenaires</li>
					<li>Responsable des Maraudes Bureau Solidaire ENAC</li>
					<li>Rugbyman - XV ENAC</li>
					<li>Pilotage d'avions (C172, DR400)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>	
				<section>
			<div class="sectionTitle">
				<h1>Langues parlées</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Anglais (B2)</li>
					<li>Arabe (C2)</li>
					<li>Espagnol (A2)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		
		
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>