<!DOCTYPE html>
<html>
<head>
<title>Site reservation biblio ENAC-CV Loïc Dubois</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV de Loïc Dubois"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../static/css/style_cv.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/t2.jpg" alt="Loïc Dubois" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Loïc Dubois</h1>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i style="font-size:24px" class="fa">&#xf1fa;</i>&nbsp;loic-dubois@hotmail.fr </a></li>
				<li> <i style="font-size:24px" class="fa">&#xf015;</i>&nbsp;7 avenue Edouard Belin, 31400 Toulouse</li>
				<li> <i style="font-size:24px" class="fa"> &#xf10b; </i> &nbsp; 0761139183</li>
				<br>
				<li><i style="font-size:24px " class="fa"> </i><a href="{{ url_for('index') }}"> Retour sur le site </a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Expérience </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Arbitre de football universitaire</h2>
					<p class="subDetails"> Septembre 2018-présent </p>
					<p>FFSU, Toulouse:
					<br>Arbitrage de matchs universitaires apportant rigueur, communication et organisation.</p>
				</article>
				
				<article>
					<h2>Cours particuliers</h2>
					<p class="subDetails"> Septembre 2016- Juin 2017    </p>
					<p>Versailles:
					<br> Cours donnés bénévolement en français et en mathématique, apportant une connaissance de l'autre et un enrichissement mutuel>
					</p>
				</article>
				
				<article>
					<h2>Rédacteur d'articles</h2>
					<p class="subDetails"> Janvier 2015-présent</p>
					<p> Rédaction bénévole et régulière d'articles sur le site d'actualité du Paris Saint-Germain Canal-Supporters accompagnée de plus gros projets</p> </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	<section>
		<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>Formation</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Formation élève ingénieur fonctionnaire (2018-présent)</h2>
					<p class="subDetails"> ENAC, Toulouse </p>
					<p>Chef de projet organisation Conférence Métiers
					<br>Responsable Alimentation au Bureau Solidaire</p>
				</article>
				
				<article>
					<h2>CPGE filière PC (2016-2018)</h2>
					<p class="subDetails"> Lycée Privé Sainte Geneviève, Versailles  </p>
					<p>Organisation d'un débat pour les présidentielles 2017
					<br> TIPE sur le rôle du limonène en tant que solvant
					</p>
				</article>
				
				<article>
					<h2>Baccalauréat S Option Internationale Anglais mention TB (2016)</h2>
					<p class="subDetails"> Lycée Franco-Allemand, Buc</p>
					<p> Participation à Model United Nation et à PAMUN</p> </p>
					<h2>BEPC mention TB (2013)</h2>
					<p class="subDetails"> Lycée Claudel, Ottawa (ON), Canada</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	<section>
			<div class="sectionTitle">
				<h1>Langues parlées</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Anglais (C2)</li>
					<li> Espagnol (B1) </li>
					<li>Allemand (A2)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
	<section>
			<div class="sectionTitle">
				<h1>Diplômes</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Licence de pilote (PPL A)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
				
		
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Pack Office</li>
					<li>Bibliothèque Qt</li>
					<li>HTML/CSS</li>
					<li>Python</li>
					<li>Travail en équipe</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Centres d'intérêts </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">Football </p>
					<p class="subDetails"> Natation </p>
					<p class="subDetails"> Cyclisme</p>
					<p class="subDetails"> Musique (hautbois) </p>
					<p class="subDetails"> Voyage  </p>

			</div>
			<div class="clear"></div>
		</section>
		

		
		
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>