<!DOCTYPE html>
{% extends 'layout.html' %}



{% block title %} Site réservation biblio ENAC-Accueil {% endblock %}


<!-- Start Header Area -->
{% block header %}
		
{% endblock %}
<!-- End Header Area -->
<!-- start banner Area -->
{% block content %}

	<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="../static/img/header-bg.jpg">
		<div class="overlay-bg overlay"></div>
		<div class="container">
			<div class="row fullscreen  d-flex align-items-center justify-content-end">
				<div class="banner-content col-lg-6 col-md-12">
					<h1>
						Site de réservation  <br>
						<span>Bibliothèque ENAC</span> <br>					
					</h1>
					<a href="{{ url_for('se_connecter') }}" class="primary-btn2 header-btn text-uppercase">Se Connecter</a>
				</div>												
			</div>
		</div>
	</section>
{% endblock %}
		<!-- End banner Area -->	

		
		<!-- start footer Area -->		

<!-- End footer Area -->