	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	{% block header %}
		
	{% endblock %}
		
		{% block content %}

			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white"> Nos services</h2>
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
			<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading"> Découvrez nos services!</h3>
					<p class="sample-text">
						<div class="">
									<ol class="ordered-list">
										<li><span> Nous louons cinq espaces différents: Europe, Océanie, Asie, Amérique et Afrique.</span></li>
										<li><span>Ces espaces possèdent plusieurs chaises et une surface/écran informatique sur lequel travailler </span></li>
										<li><span> Vous pouvez retrouver les informations sur chacun de ces espaces ci-dessous. </span></li>									
										<li><span> Ces espaces sont régis à plusieurs règles, à retrouver <a href="nos_regles.html" > ici </a> </span></li>
										<li><span> Nous louons aussi du matériel: des clés USB, des casques et des câbles pour brancher son ordinateur. </span>
										<li><span> Un pack sera bientôt disponible et pourra être réservé en même temps qu'un espace.(voir l'image ci-dessous)</span>
					</p>
				</div>
			</section>					
					<div class="section-top-border">
						<div class="row gallery-item">
							<div class="col-md-4">
								<a href="../static/img/elements/g1.jpg" target="_blank"><div class="single-gallery-image" style="background: url(../static/img/elements/g1.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="../static/img/elements/g2.jpg" target="_blank"><div class="single-gallery-image" style="background: url(../static/img/elements/g2.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="../static/img/elements/g3.jpg" target="_blank"><div class="single-gallery-image" style="background: url(../static/img/elements/g3.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="../static/img/elements/g4.jpg" target="_blank"><div class="single-gallery-image" style="background: url(../static/img/elements/g4.jpg);"></div></a>
							</div>
							<div class="col-md-6">
								<a href="../static/img/elements/g5.jpg" target="_blank"><div class="single-gallery-image" style="background: url(../static/img/elements/g5.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g6.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g6.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g7.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g7.jpg);"></div></a>
							</div>
							<div class="col-md-4">
								<a href="img/elements/g8.jpg" class="img-pop-up"><div class="single-gallery-image" style="background: url(img/elements/g8.jpg);"></div></a>
							</div>
						</div>
					</div>

		{% endblock %}
	</html>