	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	
	{% block title %} Site reservation biblio ENAC-Nos règles{% endblock %}	
		{% block content %}
			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Nos règles</h2>
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
			<!-- Start Sample Area -->
					<div class="section-top-border">
						<br>
						<h3 class="text-heading" align = "center">Voici les trois règles régissant les réservations</h3>
						<div class="row">
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20 ml-20">Règle 01</h4>
									<p align='justify' class="ml-20">Nous vous prions de réserver uniquement pour <b style="color: #c77aff">deux heures de suite maximum</b> si vous êtes un élève. Ce temps s'élève à quatre heures pour les professeurs. L'objectif est de faire profiter de la tranquillité des espaces à tous.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Règle 02</h4>
									<p align='justify'>Pour faciliter notre organisation, nous vous prions de réserver l'espace <b style="color: #c77aff">au plus tard un jour avant </b>le moment où vous voulez l'utiliser. Cela étant, si l'espace n'est pas utilisé à votre arrivée et non réservé, nous pouvons vous autoriser à l'utiliser. Les espaces peuvent être réservés des jours entiers pour des APP, <b style="color: #c77aff">merci de respecter les créneaux où les espaces sont réservés.</b> </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Règle 03</h4>
									<p align='justify'>Merci également de <b style="color: #c77aff">ramener tout le matériel emprunté </b>une fois votre travail terminé! </p>
								</div>
							</div>
						</div>
					</div>
					

		{% endblock %}
	</html>