	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	{% block title %} Site réservation biblio ENAC-Réservation {% endblock %}	
	{% block content %}
			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
									{% if not session["is_admin"]   %}
									<h2 class="text-white">Réservation</h2>	
									{% else %}
									<h2 class="text-white">Gestion</h2>
									{% endif %}
								
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		{% if not session.logged_in %}
		<div class="whole-wrap">
				<div class="container">
					<div class="section-top-border">
						<h3 class="mb-30">Veuillez vous connecter!</h3>
						<p class="sample-text">Il faut vous <a href={{ url_for('se_connecter') }}>connecter </a> pour pouvoir réserver un espace. </p>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/about-bg.png" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
							 Si vous n'avez pas encore de compte ENAC et ne pouvez donc pas vous connecter, vous pouvez:
								<ul class="unordered-list">
										<li>Voir <a href="{{ url_for('nos_services') }}"> nos services</a>.</li>
										<li>Voir <a href="{{ url_for('nos_regles') }}"> nos règles</a>.</li>
										<li> Visionnez nos <a href="http://bibliotheque.enac.fr/doku.php" target="blank"> ressources disponibles</a>.</li>
										<li> En apprendre d'avantage sur <a href="http://www.enac.fr/fr/bibliotheque" target="blank">la bibliothèque</a>.</li>
								</ul>
								</p>
							</div>
						</div>
					</div>
					</div>
					</div>
		
		{% else %}
		<!-- Start Button -->
			<section class="button-area">
								
				<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Les espaces</h3>
					<div class="button-group-area mt-40 ml-70">
						<a align='left'>Cliquez sur un espace pour visualiser son calendrier et le réserver !</a>
						<br>
						<form method="post" action="{{ url_for('calendar_selection') }}"> 
						<div align = 'center'>
						<br>
						<button class="genric-btn afrique circle" name="btn_submit" value="afrique">Afrique</button>
						<button class="genric-btn amerique circle" name="btn_submit" value="amerique">Amérique</button>
						<button class="genric-btn asie circle" name="btn_submit" value="asie">Asie</button>
						<button class="genric-btn europe circle" name="btn_submit" value="europe">Europe</button>
						<button class="genric-btn oceanie circle" name="btn_submit" value="oceanie">Océanie</button>
						
						</div>
						</form>
						
					</div>
				</div>

			{% if session["calendar"] %}
				{% if session["europe"] %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Calendrier Europe</h3>
					<iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=ZXVyb3BlLmJpYmxpb3RoZXF1ZS5lbmFjQGdtYWlsLmNvbQ&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%230B8043&amp;mode=WEEK&amp;showTitle=1&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0"  style="margin-left: 200px" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				{% elif session["afrique"] %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Calendrier Afrique</h3>
					<iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=YWZyaXF1ZS5iaWJsaW90aGVxdWUuZW5hY0BnbWFpbC5jb20&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%230B8043&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK" style="margin-left: 200px" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				{% elif session["amerique"] %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Calendrier Amérique</h3>
					<iframe src="https://calendar.google.com/calendar/b/4/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=YW1lcmlxdWUuYmlibGlvdGhlcXVlLmVuYWNAZ21haWwuY29t&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%230B8043&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK" style="margin-left: 200px" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				{% elif session["asie"] %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Calendrier Asie</h3>
					<iframe src="https://calendar.google.com/calendar/b/5/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=YXNpZS5iaWJsaW90aGVxdWUuZW5hY0BnbWFpbC5jb20&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%230B8043&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK" style="margin-left: 200px" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				{% elif session["oceanie"] %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Calendrier Océanie</h3>
					<iframe src="https://calendar.google.com/calendar/b/6/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=b2NlYW5pZS5iaWJsaW90aGVxdWUuZW5hY0BnbWFpbC5jb20&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E4C441&amp;color=%230B8043&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK" style="margin-left: 200px" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>	
				{% else %}
					<div class="container border-top-generic">
					<h3 class="text-heading ml-70"> Veuillez choisir un calendrier </h3>
					</div>
				{% endif %}
			{% endif %}
			
			</section>
			

			<!-- End Button -->
			<!-- Start Align Area -->
				{% if session["calendar"] %}
					<div class="section-top-border">
						<div class="row">
							<div class="container border-top-generic">
								<h3 class="text-heading ml-70">Choisissez votre jour et horaire de réservation</h3>
								<h4 class="mb-30 ml-150">Veuillez accepter <a href="{{ url_for('nos_regles') }}">nos règles </a> avant de réserver :
								<input class="primary-checkbox" type="checkbox" id="rules" name="rules" size= 20px><label></label>
								</h4>
								<form method="post" action="{{ url_for('formulaire') }}">
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre jour</label>
										<input type="date" id="start" name="date" value="document.write(new Date().getFullYear())-document.write(new Date().getMonth())-document.write(new Date().getDate())" min="document.write(new Date().getFullYear())-document.write(new Date().getMonth())-document.write(new Date().getDate())" max="document.write(new Date().getFullYear()+2)-document.write(new Date().getMonth())-document.write(new Date().getDate())" required> </input>
										</div>
									</div>
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre horaire de début</label>
										<input type="time" id="hd" name="h_debut" min="8:30" max="19:00" required> <span class="note">Possible de 8h30 à 19h</span>
										</div>
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre horaire de fin</label>
										<input type="time" id="hf" name="h_fin" min="9:00" max="19:30" required> <span class="note">Possible de 9h à 19h30</span>
										</div>
										</div>
									
									</div>											
									{% if not session["is_admin"] %}									
									<div class="mt-10 ml-150">
										<input type="text" name='promo' placeholder="Promo" required=""></textarea>
									</div>
									<div class="mt-10 ml-150">
										<input type="int" name='nb_pers' placeholder="Nombre de personnes" required=""></textarea>
									</div>
										
									{% endif %}
									<div class="button-group-area mt-40 ml-150">
										<button class="genric-btn primary e-large" name="btn_submit" value="form_reservation"> Réserver </button>{% if session["is_admin"] %} &nbsp;<button class="generic-btn primary e-large" name="btn_submit" value="supp_reservation"> Supprimer </button> {% endif %}
																		
									</div>
									<br>
								</form>
							</div>
						</div>
					</div>
				{% endif %}
			<!-- End Align Area -->
			{% endif %}
{% endblock %}
	</html>