	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	{% block title %} Site reservation biblio ENAC-Réservation {% endblock %}	
	
	{% block content %}
			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Réservation</h2>
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<div class="whole-wrap">
				<div class="container">
					<div class="section-top-border">
						<h3 class="mb-30">Veuillez vous connecter!</h3>
						<p class="sample-text">Il faut vous <a href={{ url_for('se_connecter') }}>connecter </a> pour pouvoir réserver un espace. </p>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/about-bg.png" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
							 Si vous n'avez pas encore de compte ENAC et ne pouvez donc pas vous connecter, vous pouvez:
								<ul class="unordered-list">
										<li>Voir <a href="{{ url_for('nos_services') }}"> nos services</a>.</li>
										<li>Voir <a href="{{ url_for('nos_regles') }}"> nos règles</a>.</li>
										<li> Visionnez nos <a href="http://bibliotheque.enac.fr/doku.php" target="blank"> ressources disponibles</a>.</li>
										<li> En apprendre d'avantage sur <a href="http://www.enac.fr/fr/bibliotheque" target="blank">la bibliothèque</a>.</li>
								</ul>
								</p>
							</div>
						</div>
					</div>
					</div>
					</div>
		
		<!--else-->
		
		
			<!-- Start Button -->
			<section class="button-area">
								
				<div class="container border-top-generic">
					<h3 class="text-heading ml-70">Les espaces</h3>
					<div class="button-group-area mt-40 ml-70">
						<a align='left'>Clique sur un espace pour le visualiser</a>
						<br>
						<div align = 'center'>
						<br>
						<a href="../static/img/elements/g1.jpg" class="genric-btn afrique circle" target="blanck">Afrique</a>
						<a href="../static/img/elements/g2.jpg" class="genric-btn amerique circle" target="blanck">Amérique</a>
						<a href="../static/img/elements/g3.jpg" class="genric-btn asie circle" target="blanck">Asie</a>
						<a href="../static/img/elements/g4.jpg" class="genric-btn europe circle" target="blanck">Europe</a>
						<a href="../static/img/elements/g5.jpg" class="genric-btn oceanie circle" target="blanck">Océanie</a>
						
						</div>
						
					</div>
				</div>
				<div class="container border-top-generic">
				<h3 class="text-heading ml-70">Calendrier</h3>
				<iframe align='center' src="https://calendar.google.com/calendar/embed?src=europe.bibliotheque.enac%40gmail.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> <!-- Calendar creation script -->
				</div>
			</section>
			

			<!-- End Button -->
			<!-- Start Align Area -->
					<div class="section-top-border">
						<div class="row">
							<div class="container border-top-generic">
								<h3 class="text-heading ml-70">Choisissez votre jour et horaire de réservation</h3>
								<h4 class="mb-30 ml-150">Veuillez accepter <a href="{{ url_for('nos_regles') }}">nos règles </a> avant de réserver</h4>
								<form method="post" action="{{ url_for('formulaire') }}">
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre jour</label>
										<input type="date" id="start" name="trip-start" value="document.write(new Date().getFullYear())-document.write(new Date().getMonth())-document.write(new Date().getDate())" min="document.write(new Date().getFullYear())-document.write(new Date().getMonth())-document.write(new Date().getDate())" max="document.write(new Date().getFullYear()+2)-document.write(new Date().getMonth())-document.write(new Date().getDate())" required> </input>
										</div>
									</div>
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre horaire de début</label>
										<input type="time" id="hd" name="hd" min="8:30" max="19:00" required> <span class="note">Possible de 8h30 à 19h</span>
										</div>
									<div class="input-group-icon mt-10">
										<div class="form-select ml-150" id="default-select">
										<label for="appt">Choisissez votre horaire de fin</label>
										<input type="time" id="hf" name="hf" min="9:00" max="19:30" required> <span class="note">Possible de 9h à 19h30</span>
										</div>
										</div>
									</div>
									<div class="button-group-area mt-40 ml-150">
										<button class="genric-btn primary e-large" name="btn_submit" value="form_reservation"> Réserver </button>
									</div>
								</form>
							</div>
							</div>
						</div>
			<!-- End Align Area -->

{% endblock %}
	</html>