	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	
	{% block header %} {% endblock %}
		{% block content %}
			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Se connecter</h2>
								<p class="text-white"> Connectez vous pour réserver un espace de travail ou pour laisser vos commentaires.</p>
							</div>
						</div>
					</div>
				</div>
			</section>		
		<!-- End banner Area -->
		<!-- Start Align Area -->

		{% if not session.logged_in %}
		
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<form method="post" action="{{ url_for('formulaire') }}">
									<div class="mt-10">
										<input type="text" name="id_connexion" placeholder="Identifiant" required class="single-input">
									</div>
									<div class="mt-10">
										<input type="password" name="mdp_connexion" placeholder="Mot de passe" required class="single-input">
									</div>
									<div class="button-group-area mt-40">
										<button class="genric-btn primary e-large" name="btn_submit" value="form_connect"> Se Connecter </button>
									</div>
								</form>
								<br>
							</div>
						</div>
					</div>
			
			{% else %}
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading"> Vous êtes déjà connecté </h3>								
			{% endif %}
			<!-- End Align Area -->
		{% endblock %}
	</html>