<!DOCTYPE html>
	
{% extends 'layout.html' %}
{% block title %} Site réservation biblio ENAC-Tous les commentaires {% endblock %}
{% block content %}

        <!-- Start banner Area -->
        <section class="generic-banner relative">			
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="col-lg-10">
                        <div class="generic-banner-content">
                            <h2 class="text-white">Tous Les Commentaires</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="comment">
            <form method="post" action="{{ url_for('formulaire') }}">
                    <br>
                    <button class="generic-btn primary large ml-30"  name="btn_submit" value="del_all_comments"> Supprimer tous les commentaires </button>                    
            </form>       
                <ol>
                    {% for ligne in data %}
                    
						
                    <li id="{{ ligne.id_comment}}"> 
                    <br>
                        <h7> <b>Commentaire de {{ ligne.nom}} {{ ligne.prenom }} - {{ ligne.mail }}</b> </h7>
                        <p class="ml-50">{{ ligne.message }}</p>                       
                        <div class="button-group-area mb-10 ml-30">
										<button class="genric-btn primary medium" style="color": "white" name="btn_submit" value="form_email"> <a href="mailto:{{ ligne.mail }}"> Répondre à {{ ligne.prenom}} <a></button>
								</div>                 
                    </li>
                    {% endfor %}
    
                </ol>
                <br>
      </section>



        <!-- End banner Area -->
        <!-- Start Sample Area 
        <section class="sample-text-area">
            <div class="container">
                <h3 class="text-heading"> Laissez-nous vos commentaires! </h3>
                <p class="sample-text">
                    Vous avez des commentaires, suggestions à faire à propos du site web, de la bibliothèque ou des questions sur quoi que ça soit? Laissez-nous vos commentaires ci-dessous, nous vous répondrons <b>volontiers</b> ! 
                </p>
            </div>
        </section>-->

{% endblock %}
</html>