<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	{% block title %} Site reservation biblio ENAC-Nos services {% endblock %}	
	{% block header %}
		
	{% endblock %}
		
		{% block content %}
			<!-- Start banner Area -->
			<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white"> Tutoriel d'utilisation </h2>
							</div>
						</div>
					</div>
				</div>
			</section>					

		{% endblock %}
	</html>