	<!DOCTYPE html>
	
	{% extends 'layout.html' %}
	{% block title %} Site réservation biblio ENAC-Villes {% endblock %}	
	{% block header %}
		
	{% endblock %}
		
		{% block content %}
	<section class="generic-banner relative">			
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Nos villes</h2>
							</div>
						</div>
					</div>
				</div>
			</section>
	<br>
	<h3 class="text-heading" align = "center">Découvrez les villes associées à nos espaces ! </h3>
	<div class="whole-wrap">
				<div class="container" id="abidjan">
					
					<div class="section-top-border"></div>
						<h3 class="mb-30">Abidjan</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/villes/abidjan.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p align='justify'>Abidjan est la capitale économique de la Côte d'Ivoire, dont la capitale administrative et politique est Yamoussoukro. Elle est également la ville la plus peuplée de l'Afrique de l'Ouest francophone1, et la deuxième plus grande ville et troisième plus grande agglomération au sein de la francophonie. Elle compte selon les autorités du pays, en 2014, 4 707 000 habitants soit 21 % de la population totale du pays, tandis qu'elle représenterait 60 % du produit intérieur brut du pays. Seule Lagos, l'ancienne capitale du Nigeria la dépasse en nombre d'habitants dans cette région. Considérée comme le carrefour culturel ouest-africain, Abidjan connaît une forte croissance caractérisée par une forte industrialisation et une urbanisation galopante. 
								<br> <a href="https://fr.wikipedia.org/wiki/Abidjan">En savoir plus </a></p>
							</div>
						</div>
					</div>
					<div class="container" id="brasilia">
					<div class="section-top-border"></div>
						<h3 class="mb-30">Brasilia</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/villes/brasilia.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p align='justify'>Brasilia (Brasília en portugais) est la capitale fédérale du Brésil et le siège du gouvernement du District fédéral. Selon un recensement effectué par l'IBGE (Instituto Brasileiro de Geografia e Estatística), sa population en 2010 est de 2 562 963 habitants, faisant d'elle la quatrième ville la plus peuplée du Brésil. Sa construction, à un rythme soutenu, sous l'impulsion du président Juscelino Kubitschek qui souhaitait une meilleure répartition de l’activité économique alors concentrée sur les côtes, date des années 1960. 
								<br> <a href="https://fr.wikipedia.org/wiki/Brasilia" target="blank">En savoir plus </a></p>
							</div>
						</div>
					</div>
					<div class="container" id="tianjin">
					<div class="section-top-border"></div>
						<h3 class="mb-30">Tianjin</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/villes/tianjin.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p align='justify'>Tien-Tsin ou Tientsin (en français) ou Tianjin (nom local en anglais) (en chinois : 天津市 ; pinyin : tiānjīn shì ; EFEO : T'ien-Tsin), est une municipalité autonome du nord-est de la République populaire de Chine. Avec une agglomération de plus de quinze millions d'habitants en 2014, il s'agit de la quatrième ville de Chine en nombre d'habitants, après Shanghai, Pékin et Canton. Tianjin est également l'une des quatre municipalités du pays qui sont directement gouvernées par le pouvoir central. Elle est part du Jing-Jin-Ji.  
								<br> <a href="https://fr.wikipedia.org/wiki/Tianjin" target="blank">En savoir plus </a></p>
							</div>
						</div>
					</div>
					<div class="container" id="toulouse">
					<div class="section-top-border"></div>
						<h3 class="mb-30">Toulouse</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/villes/toulouse.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p align='justify'>Toulouse est une commune du Sud-Ouest de la France. Capitale pendant près de cent ans du royaume wisigoth et capitale historique du Languedoc, elle est aujourd'hui le chef-lieu de la région Occitanie, du département de la Haute-Garonne, et est le siège de Toulouse Métropole3. Elle était également la préfecture de l'ancienne région Midi-Pyrénées jusqu'à sa disparition au 1er janvier 2016.  
								<br> <a href="https://fr.wikipedia.org/wiki/Toulouse" target="blank">En savoir plus </a></p>
							</div>
						</div>
					</div>
					<div class="container" id="noumea">
					<div class="section-top-border"></div>
						<h3 class="mb-30" >Nouméa</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="../static/img/villes/noumea.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p align='justify'>Nouméa, (prononcé /nu.me.a/) principale ville portuaire de Nouvelle-Calédonie, est le chef-lieu de cette collectivité d'outre-mer française au statut spécifique et de la Province Sud, située sur une presqu'île de la côte sud-ouest de la Grande Terre. 
Bien que relativement peu peuplée (99 926 habitants en 2014), même en comptabilisant sa banlieue (179 509 habitants), Nouméa est la plus grande ville francophone d'Océanie et même de tout l’océan Pacifique devant Papeete, et l'une des plus importantes de la France d'outre-mer (la troisième, après Saint-Denis et Saint-Paul de La Réunion). 
								<br> <a href="https://fr.wikipedia.org/wiki/Noumea" target="blank">En savoir plus </a></p>
							</div>
						</div>
					</div>
					
					
					</div>
					</div>
		
		{% endblock %}

	</html>